.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  fill: currentColor; }

.icon-icon1 {
  font-size: 4.3321rem;
  width: 1.08118em; }

.icon-icon2 {
  font-size: 4.3321rem;
  width: 1.08118em; }

.icon-icon3 {
  font-size: 4.3321rem;
  width: 1.08118em; }

.icon-logo {
  font-size: 3.5539rem;
  width: 6.15057em; }
